<h2>Weight Server</h2>
<p>
  Fecha: <%= Time.now %></br></br>
  <label>Peso:  </label><label id="weight">--</label></br></br>
  <label>  Estado:  </label><label id="status"></label></br></br>
  <label>Desarrollado por: Agromatic</label>
</p>